.search__searchBar {
    width: 100%;
    display: flex;
    margin-right: 0;
    justify-content: flex-end;
}

.search__search {
    margin-left: 20px;
}

.search__submit {
    height: 32px;
}

.search__card {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.search__media {
    max-width: 200px;
}